<!doctype html>

<html>
  <head>
    <!-- Boostrap CSs beacause yes  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  </head>

  <body>

    <div class="container">
      <h1>This is an Example Login View</h1>
      <% if ( signUpConf ) { %>
        <div class="alert alert-success" role="alert">
          Your account has successfully been created!
        </div>
      <% } %>
      <% if ( badLogin ) { %>
        <div class="alert alert-danger" role="alert">
          That Username / Password doesn't exist in our database.
        </div>
      <% } %>
      <form action="/" method="post">
        <div class = "form-group">
          <label> Username </label>
          <input name="username" type="username" class="form-control" id="username" placeholder="Enter Email">
        </div>

        <div class = "form-group">
          <label> Password </label>
          <input name="password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <p><small> <a href="/sign_up"> Create a New Account </a> </small></p>
        <button type="submit" class="btn btn-primary"> Submit </button>
      </form>
  </div>
</html>
